 .movie-card-contain{
    border-radius: 8px;
    height: fit-content;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: var(--background-color-gray);
 }
.movie-card{
  padding: 5px 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.movieimg-container{
    padding: 10px;
    aspect-ratio: 1/1;
    /* overflow: hidden; */
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movieimg-container>img{
    border-radius: 5px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-description{
 color: rgb(214, 214, 214);
 /* line-height:; */
 font-weight:300 ;
}
.ap{
    
    margin-top: 0 !important;
    margin-bottom: 0rem !important;
 
}

@media (max-width:550px) {

    .movie-card-contain{
        height: fit-content;
    }
    .movieimg-container{
        max-height: 6rem;
    }
    .card-description{
     font-size: 12px;
     margin-bottom: 0px !important;
}
}
 